In [1]:
import pandas as pd

# Load data dan Praproses

In [6]:
df = pd.read_excel("data/products.xlsx")
product_dict = dict(zip(df.productID.tolist(),df.productName.tolist()))
# df

In [16]:
df = pd.read_excel("data/order_details.xlsx")
orderID = df.orderID.tolist()
productID = df.productID.tolist()
productName = list()
code = ["x" for i in productID]

Quantity = df.quantity.tolist()
for i in productID:
    productName.append(product_dict[i])
# df

df = pd.DataFrame.from_dict({"orderID":orderID, "productName":productName, "Quantity":Quantity, "code":code})
df

      orderID                        productName  Quantity code
0       10248                     Queso Cabrales        12    x
1       10248      Singaporean Hokkien Fried Mee        10    x
2       10248             Mozzarella di Giovanni         5    x
3       10249                               Tofu         9    x
4       10249              Manjimup Dried Apples        40    x
...       ...                                ...       ...  ...
2150    11077         Wimmers gute SemmelknÃ¶del         2    x
2151    11077          Louisiana Hot Spiced Okra         1    x
2152    11077                        RÃ¶d Kaviar         2    x
2153    11077             RhÃ¶nbrÃ¤u Klosterbier         4    x
2154    11077  Original Frankfurter grÃ¼ne SoÃŸe         2    x

[2155 rows x 4 columns]

# Membuat Basket

In [22]:
basket = (df[df['code'] =="x"].groupby(['orderID', 'productName'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('orderID'))
total_transaksi = len(basket)


# print(basket.head())
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units) #akhir
basket_sets

productName,Alice Mutton,Aniseed Syrup,Boston Crab Meat,Camembert Pierrot,Carnarvon Tigers,Chai,Chang,Chartreuse verte,Chef Anton's Cajun Seasoning,Chef Anton's Gumbo Mix,...,Teatime Chocolate Biscuits,ThÃ¼ringer Rostbratwurst,Tofu,TourtiÃ¨re,TunnbrÃ¶d,Uncle Bob's Organic Dried Pears,Valkoinen suklaa,Vegie-spread,Wimmers gute SemmelknÃ¶del,Zaanse koeken
orderID,,,,,,,,,,,,,,,,,,,,,
10248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10249,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10252,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11074,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11075,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11076,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
11077,0,1,0,1,0,0,1,1,1,0,...,0,0,1,0,1,1,0,0,1,0

# Proses Apriori

In [28]:
mui_sup = 0.003  #otak atik disini
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules


# Build up the frequent items 
frequent_itemsets = apriori(basket_sets, min_support=mui_sup, use_colnames=True)
frequent_itemsets

      support                                      itemsets
0    0.044578                                (Alice Mutton)
1    0.014458                               (Aniseed Syrup)
2    0.049398                            (Boston Crab Meat)
3    0.061446                           (Camembert Pierrot)
4    0.032530                            (Carnarvon Tigers)
..        ...                                           ...
273  0.003614                (Vegie-spread, Steeleye Stout)
274  0.003614  (Steeleye Stout, Wimmers gute SemmelknÃ¶del)
275  0.003614  (Tarte au sucre, Wimmers gute SemmelknÃ¶del)
276  0.003614            (Tofu, Teatime Chocolate Biscuits)
277  0.003614       (TunnbrÃ¶d, Wimmers gute SemmelknÃ¶del)

[278 rows x 2 columns]

# Membuat rules

In [30]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift") #, min_threshold=0.5
rules =  rules.drop(['lift', 'leverage','conviction','antecedent support','consequent support'], axis=1)
rules

,antecedents,consequents,support,confidence
0,(Geitost),(Alice Mutton),0.006024,0.156250
1,(Alice Mutton),(Geitost),0.006024,0.135135
2,(Alice Mutton),(Gnocchi di nonna Alice),0.004819,0.108108
3,(Gnocchi di nonna Alice),(Alice Mutton),0.004819,0.080000
4,(Alice Mutton),(Ipoh Coffee),0.003614,0.081081
...,...,...,...,...
397,(Wimmers gute SemmelknÃ¶del),(Tarte au sucre),0.003614,0.100000
398,(Tofu),(Teatime Chocolate Biscuits),0.003614,0.136364
399,(Teatime Chocolate Biscuits),(Tofu),0.003614,0.081081
400,(TunnbrÃ¶d),(Wimmers gute SemmelknÃ¶del),0.003614,0.150000
401,(Wimmers gute SemmelknÃ¶del),(TunnbrÃ¶d),0.003614,0.100000